*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color:wheat;
    background-image: image("cart.webp")
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: auto auto;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(236, 187, 122);

    padding: 1em 2em;
    height: 15em;
}

.nav-bar img{
    width: 350px;
    border-radius: 50px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

form *{
    padding: 1em 1.2em;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 1.2em;
}

form input{
    border-bottom: 2px solid #f3f3f3;
    width: 75%;
    padding: 1em;
}

form button{
    width: 20%;
}

.details{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.cartt{
    color: #794c23;
    position: relative;
}

.cartt i{
    font-size: 2rem;
}

.cartt small{
    position: absolute;
    right: -10;
    top: -10px;
    text-align: center;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f3861d;
}


.user img{
    width: 50px;
    border-radius: 50%;
}

.user i{
    color: #794c23;
}
.user h5{
   margin-bottom: -12em; 
}
.hero-section{
    display: flex;
    margin: 2em;
}

.hero-section h2{
    width: 30%;
    font-size: 3rem;
    color: #f3861d;
    background-color: #e5e3e3;
    border-radius: 20px;


}

.container>h4{
    font-size: 2rem;
    align-self: flex-start;
    margin-bottom: 1.5em;
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 5em; 
}

.product{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #e5e3e3;
    
    transition: .3s ease-in-out;
}

.product:hover{
    transform: scale(1.02);
}

.product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    gap: 50px;
align-items: center;
}

.product h4{
    color: #794c23;
    font-size: .8em;
    margin-bottom: .75em;
    padding: .5em;
}

.product>span{
    text-transform: capitalize;
    padding: .5em;
}
.product button{
    background-color: #f58b2e;
    align-items: center;
    padding: 1em;
    border-radius: 15px;
    color: blanchedalmond;
    width: 90%;
    margin-left: 1em;
    border: none;
    transition: .3s ease-in-out;
}

.product button:hover{
    cursor: pointer;
    opacity: .1;
}

p{
    padding: .5em;
}

p>span{
    color: #f3861d;
}
.hero-section img{
    width: 50%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 50px;
    margin-left: 1em;
    
}
.categories a{
        color: hotpink;
}

@media screen and (max-width: 900px) {
    .products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .hero-section{
        flex-direction: column;
    }

    .hero-section h2{
        width: 100%;
    }
}